[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	label-Code-Review = -2..+2 group GerritForgeReviewers
	label-Verified = -1..+1 group GerritForgeReviewers
[receive]
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
